{% include 'Recommender/elements/header.html' %}

<body>

<button onclick="button_action()">CLICK ME</button>

<div class="container">
    <div class="row">
        <div class="well bs-component col-xs-6 col-xs-offset-3 margin-20-top">
            <form id="formDataEntry" class="form-horizontal">
                <fieldset>
                    <legend>Dades Personals</legend>
                    <div class="form-group">
                        <label for="inputFirstName" class="col-xs-12 control-label text-align-left">Nom *</label>
                        <div class="col-xs-12">
                            <input class="form-control" id="inputFirstName" placeholder="Nom" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputLastName" class="col-xs-12 control-label text-align-left">Cognoms *</label>
                        <div class="col-xs-12">
                            <input class="form-control" id="inputLastName" placeholder="Cognoms" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputBirthDate" class="col-xs-12 control-label text-align-left">Data Naixement *</label>
                        <div class="col-xs-12">
                            <input class="form-control" id="inputBirthDate" placeholder="dd/mm/aaaa" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputBirthPlace" class="col-xs-12 control-label text-align-left">LLoc de Naixement *</label>
                        <div class="col-xs-12">
                            <input class="form-control" id="inputBirthPlace" placeholder="LLoc de Naixement" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputLivedPlaces" class="col-xs-12 control-label text-align-left">LLocs on has viscut i període</label>
                        <div class="col-xs-12">
                            <span class="help-block">Posa cada lloc on has viscut en una línia nova, i el període entre parèntesis.</span>
                            <textarea form="formDataEntry" class="form-control" name="inputLivedPlaces" placeholder="Exemple: Barcelona-ES(1958-1983)"></textarea>
                        </div>
                    </div>
                </fieldset>
                <hr />
                <fieldset>
                    <legend>Gustos Musicals</legend>
                    <div class="form-group">
                        <label for="inputFavouriteFlavour" class="col-xs-12 control-label text-align-left">Generes Preferits</label>
                        <div class="col-xs-12">
                        {%  for genre in genre_list %}
                            <div class="checkbox col-xs-4">
                                <label><input type="checkbox" value="{{ genre.id }}">{{ genre.genre }}</label>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputFavouriteArtists" class="col-xs-12 control-label text-align-left">Artistes Preferits</label>
                        <div class="col-xs-12">
                            <textarea form="formDataEntry" class="form-control" name="inputFavouriteArtists" placeholder="Exemple: Frank Sinatra"></textarea>
                            <span class="help-block">Posa cada artista preferit en una línia nova.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputFavouriteSongs" class="col-xs-12 control-label text-align-left">Cançons Preferides</label>
                        <div class="col-xs-12">
                            <textarea form="formDataEntry" class="form-control" name="inputFavouriteSongs" placeholder="Exemple: That's Life (Frank Sinatra)"></textarea>
                            <span class="help-block">Posa cada cançó preferida en una línia nova, i l'autor entre parèntesis si el coneixes.</span>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<script>
function button_action()
{
    if ($("#inputBirthPlace").is(':visible')){
        $("#inputBirthPlace").fadeOut('slow');
    }
    else
    {
        $("#inputBirthPlace").fadeIn('slow');
    }

};
</script>

</body>
</html>